.content-item{
    &::before{
        content: '';
        display: inline-block;
        height: 2rem;
        width: 2rem;
        // background-image: url(../../public/SVG/chevron-small-right.svg);
        background-repeat: no-repeat;
        background-color: var(--color-primary);
        -webkit-mask-image:url(../../public/SVG/chevron-small-right.svg);
        -webkit-mask-size: cover;
    }
}

.description::before{
    content: "\201C";
    position: absolute;
    font-size: 20rem;
    color:var(--color-grey-light-2);
    top:0rem;
    left: 4rem;
    line-height: 1;
    font-family: sans-serif;
    z-index: 1;
    
}
.invisible{
    top:-100%
    
}
.btn{
    &:hover{
        background-image: linear-gradient(to left,var(--color-primary-light),var(--color-primary-dark));
    }
    overflow: hidden;
    background-image: linear-gradient(to right,var(--color-primary-light),var(--color-primary-dark));
    
    &:hover .visible{
        transform: translateY(100%);
    }
    &:hover .invisible{
        top:0
    }
}